<div class="mg-edit-wrapper">
  <div class="mg-dynamic-width">
    <div class="mg-edit-component-host">
    	<ng-template my-grid-component-host>
    	</ng-template>
    </div>   
    <div class="mg-validation-errors-wrapper">
      <div *ngIf="shouldRenderErrors() && data.validationErrorsTemplate == null" class="mg-validation-icon-wrapper">
        <div class="mg-validation-errors"></div>
        <ul *ngIf="getErrors().length > 0" class="mg-validation-messages">
          <li *ngFor="let error of getErrors()">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>
    <div #errorsTemplatePlaceholder></div>
  </div>
</div>