<div 
  #headerWrapper
  class="mg-header-wrapper"
  draggable="true"
  (dragstart)="columnDragStart($event)" 
  (drop)="columnDrop($event)"
  (dragleave)="columnDragLeave($event)">
  <ng-template my-grid-component-host>
  </ng-template>
</div>