@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -moz-transform: rotate($angle);
  transform: rotate($angle);
}

$default-border-color: #999999;

.mg-table {
  border-spacing: 0px;
  font-size: 14px;

  .mg-foot > tr > td,
  .mg-head > tr > th,
  .mg-head > tr > td,
  .mg-body > tr > td {
    font-weight: normal;
  }

  /*Grouping*/
  .mg-group-drop-target {
    padding: 1px 5px;
  }

  .mg-group-drop-target .mg-button {
    display: inline-block;
  }

  .mg-group-drop-target .mg-header-wrapper {
    display: inline-block;
  }

  /*Header*/
  .mg-header-wrapper {
    position: relative;
  }

  .mg-drop-column-marker {
    background-image: url("../../assets/icons/arrow-point-down.svg"); 
    background-size: cover;
    width: 17px;
    height: 17px; 
    position: absolute; 
    top: -14px; 
  }

  .mg-left-drop-column-marker {
    @extend .mg-drop-column-marker;
    left: -10px;
  }

  .mg-right-drop-column-marker {
    @extend .mg-drop-column-marker;
    right: -10px;
  }

  /*Filter conditions*/
  .mg-dynamic-width {
    display: table;
    width: 100%;
  }

  .mg-filter-wrapper .mg-input-wrapper {
    display: table-cell;
  }

  .mg-filter-condition-button {
    overflow: visible;
    position: relative;
    z-index: 110;
    width: 18px;
    height: 18px;
    padding: 2px;
    display: block;
    border: 0px;
    outline: none;
    background-image: url("../../assets/icons/arrow-filter-condition.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-origin: content-box;
 
    ul {
      position: absolute;
      right: 0px;
      top: 100%;
      list-style-type: none;
    }
  }

  .mg-filter-condition-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px;
  }

  .mg-input-wrapper {
    width: 100%;
  }

  .mg-input-wrapper .mg-input {
    box-sizing: border-box;
    height: 25px;
    width: 100%;
  }

  .mg-combo-box {
    width: 100%;
  }

  /*Default header*/
  .mg-order-marker {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;

    .mg-ascending {
      background-image: url("../../assets/icons/arrow-point-down.svg");
      background-size: cover;
      height: 100%;
      @include rotate(180deg);
    }

    .mg-descending {
      background-image: url("../../assets/icons/arrow-point-down.svg"); 
      background-size: cover;
      height: 100%;
    }
  }

  /*Edit wrapper*/
  .mg-edit-wrapper {
    padding: 8px 12px;
    position: relative;
  }

  .mg-edit-component-host {
    display: table-cell;
    width: 100%;
  }

  /*Validation errors*/
  .mg-validation-errors-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px;
  }

  .mg-validation-icon-wrapper {
    width: 14px;
    height: 14px;
    padding: 2px;
    position: relative;
  }

  .mg-validation-errors {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 105;
  }

  .mg-validation-errors:hover + .mg-validation-messages {
    display: block;
  }

  .mg-validation-messages {
    position: absolute;
    list-style: none;
    top: 20px;
    margin: 3px 0px;
    padding: 5px;
    white-space: nowrap;
    z-index: 115;
  }

  .mg-details-wrapper {
    position: relative;
    z-index: 50;
  }

  .mg-details-button-wrapper {
    width: 16px;
    position: absolute;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
  }

  .mg-details-button {
    display: block;
  }

  /* Pager and command buttons */
  .mg-pager-section {
    float: left;
  }

  .mg-command-buttons-section {
    float: right;
    margin-right: 5px;
  }

  .mg-pagination-wrapper {
    -webkit-transform: translateZ(0);
  }
}

/* Srolling */
.mg-inner-table {
  width: 100%;
}

.mg-inner-table-wrapper-cell {
  padding: 0px;
}

.mg-inner-table-wrapper-cell > div:not(.mg-scroll-padding) {
  position: relative;
  overflow-y: scroll;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}