$primary-color: #999;
$secondary-color: #888;
$error-color: #999;

@font-face {
    font-family: 'roboto-regular';
    src: url('../../../assets/fonts/roboto-regular/Roboto-Regular-webfont.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../../../assets/fonts/roboto-medium/Roboto-Medium-webfont.ttf');
}

$border-color: #999;

.mg-table {
	font-family: 'roboto-regular';
	color: rgba(0, 0, 0, 0.8);
	border: 1px solid lighten($border-color, 20);
  border-radius: 4px;
  box-shadow: 1px 4px 5px lighten($border-color, 0);
  background-color: white;
}

.mg-head td,
.mg-head th {
	border-bottom: 1px solid lighten($border-color, 20);
	border-right: 1px solid lighten($border-color, 20);
}

.mg-head td:last-child,
.mg-head th:last-child,
.mg-foot td:last-child {
	border-right: none;
}

.mg-foot td {
	border-top: 1px solid lighten($border-color, 20);
	padding: 3px 5px;
}

// .mg-head tr:nth-child(3) td,
// .mg-head tr:nth-child(4) th {
// 	border-right: none;
// }

.mg-header-wrapper {
	font-family: 'roboto-medium';
}

/*Filter*/

.mg-filter-wrapper {
  padding: 8px 12px;
}  

$input-color: #999;
.mg-input {
  border: 1px solid lighten($input-color, 20);
  border-top: 1px solid lighten($input-color, 30);
  border-bottom: 1px solid lighten($input-color, 10);
  border-radius: 3px;
  box-shadow: 0px 3px 5px lighten($input-color, 0);
  padding: 4px;
  outline: none;
  height: 17px;
  margin: 0px;
}

.mg-input:focus {
	border: 1px solid #5476ad;
}

.mg-combo-box {
	appearance: none;
  background-color: white;
  height: 27px;
}

.mg-check-box {
	appearance: none;
	position: relative;
	width: 16px;
	height: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mg-check-box:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: #99a1a7;
}

.mg-button {
	background-color: #5476ad;
	border: 1px solid #5476ad;
	color: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  box-shadow: 0px 2px 2px lighten($input-color, 10);
  padding: 5px 8px;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 10px;
}

.mg-button:hover {
	// background-color: #efefef;
	opacity: 0.8;
}

.mg-button:active {
	opacity: 0.95;
}

// Drop down
$border-color: #999;
.mg-filter-condition-button {
	border-radius: 3px;

	ul {
		padding: 6px 0px;
		margin: 8px 0px;
		width: 120px;
		background-color: white;
		border: 1px solid lighten($border-color, 20);
	  border-top: 1px solid lighten($border-color, 30);
	  border-bottom: 1px solid lighten($border-color, 10);
	  border-radius: 3px;
	  box-shadow: 0px 3px 5px lighten($border-color, 0);
	}

	li {
		padding: 4px 0px;
		color: rgba(0, 0, 0, 0.8);
	}

	li:not(.active):hover {
		background-color: #F4F4F4;
	}

	li.active {
		background-color: #DADADA;
		color: #5476ad;
		font-weight: bold;
	}
}

.mg-filter-condition-button.active {
	background-color: #DADADA;
}

.mg-filter-condition-button:not(.active):hover {
	background-color: #F4F4F4;
}

.mg-table .mg-data-wrapper {
  padding: 6px 8px;
}

// Edit
.mg-edit-buttons-wrapper {
	.mg-save-button {
		float: left;
	}

	.mg-save-button:only-child {
		float: none;
	}

	.mg-cancel-button {
		float: right;
		margin-left: 5px;
	}
}

.mg-edit-buttons-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

// Pagination
.mg-pagination-wrapper {
	ul {
		list-style: none;
		margin: 0px;

		li {
			float: left;
			padding: 4px 8px;
			margin: 3px;
			height: 20px;
			width: 8px;
		}

		li.mg-active {
			background-color: #5476ad;
			border-radius: 2px;
			color: rgba(255, 255, 255, 0.9);
		}

		li:not(.mg-active):not(.mg-page-skip):hover {
			background-color: #F4F4F4;
			border-radius: 2px;
			cursor: pointer;
		}
	}

	ul:after {
		clear: both;
		content: "";
		display: table;
	}
}

/*Validation errors*/
.mg-validation-errors {
  /*icon*/
}

.mg-validation-errors:hover .mg-validation-messages {
  display: block;
}

.mg-validation-messages {
  display: none;
  padding: 6px 0px;
  margin: 8px 0px;
  /*width: 120px;*/
  background-color: white;
  border: 1px solid lighten($border-color, 20);
  border-top: 1px solid lighten($border-color, 30);
  border-bottom: 1px solid lighten($border-color, 10);
  border-radius: 3px;
  box-shadow: 0px 3px 5px lighten($border-color, 0);
  z-index: -10px;
  color: red;
}

/*Details grid*/
.mg-detail-grid-row {
	// border-top: 1px solid black;
	// border-bottom: 1px solid black;
}

.mg-detail-grid-row > td:first-child {
	padding: 0px 0px 0px 40px;
}

.mg-detail-grid-row .mg-table {
	border: 1px solid lighten($border-color, 20);
  border-radius: 0px;
  box-shadow: none;
  // margin-left: 40px;
}

.mg-details-button {
  width: 14px;
  height: 14px;
  padding: 0px;
}