@import 'common';

$border-color: lighten(#999, 20);
$font-color: rgba(0, 0, 0, 0.8);
$error-color: #f44242;
$accent: #eee;

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -moz-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin transition($duration) {
  -webkit-transition: $duration ease all;
  -moz-transition: $duration ease all;
  -o-transition: $duration ease all;
  transition: $duration ease all;
}

@mixin appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
    font-family: 'roboto-regular';
    src: 
      url('../../assets/fonts/roboto-regular/Roboto-Regular-webfont.woff') format('woff'),
      url('../../assets/fonts/roboto-regular/Roboto-Regular-webfont.eot') format('eot'),
      url('../../assets/fonts/roboto-regular/Roboto-Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-medium';
    src: 
      url('../../assets/fonts/roboto-medium/Roboto-Medium-webfont.woff') format('woff'),
      url('../../assets/fonts/roboto-medium/Roboto-Medium-webfont.eot') format('eot'),
      url('../../assets/fonts/roboto-medium/Roboto-Medium-webfont.ttf') format('truetype');
}

.mg-table {
	font-family: 'roboto-regular';
	color: $font-color;
	border: 1px solid $border-color;
  background-color: white;
}

.mg-table .mg-table {
  border-top: 0px;
  border-bottom: 0px;
}

.mg-head td:not(.mg-inner-table-wrapper-cell),
.mg-head th:not(.mg-inner-table-wrapper-cell) {
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.mg-body td {
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.mg-body tr:last-child > td {
  border-bottom: none;
}

.mg-table th:last-child,
.mg-table td:last-child {
	border-right: none;
}

.mg-foot > tr > td {
	border-top: 1px solid $border-color;
  padding: 0px;
}

.mg-foot .mg-scroll-padding td {
  padding: 0px;
}

/* Header */
.mg-header-wrapper {
	font-family: 'roboto-medium';
	padding: 3px 5px;
} 

.mg-header-row th {
	text-align: left;
}

.mg-header-caption {
	margin-right: 15px;
}

/* Grouping */
.mg-group-drop-target>span {
  line-height: 26px;
}

.mg-group-drop-target .mg-button {
  position: relative;
  top: -1px;
  font-size: 11px;
}

/* Filter */
.mg-filter-wrapper {
	padding: 2px 3px;
}

.mg-input {
  border: 1px solid $border-color;
  padding: 2px;
  outline: none;
  height: 19px;
  margin: 0px;
}

.mg-input:focus {
	border: 1px solid darken($border-color, 15);
}

.mg-combo-box {
	@include appearance();
  background-color: white;
  height: 23px;
}

.mg-check-box {
	@include appearance();
	position: relative;
	width: 16px;
	height: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-top: 2px
}

.mg-check-box:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -3px;
	left: 2px;
	color: #99a1a7;
}

.mg-button {
	border: 1px solid $border-color;
  padding: 3px 8px;
  height: 23px;
  color: $font-color;
  background-color: white;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  transition: background-color 0.2s linear;
}

.mg-button:hover {
	background-color: $accent;
}

.mg-button:active {
	opacity: 0.95;
}

/* Drop down */
.mg-table .mg-filter-condition-wrapper {
	width: 14px;
	padding: 0px;
}

.mg-filter-condition-wrapper .mg-filter-condition-button {
	height: 17px;
	padding: 3px;
  margin-left: 2px;
  transition: background-color 0.4s ease;
  
	ul {
		padding: 6px 0px;
		margin: 3px 0px;
		width: 120px;
		background-color: white;
		border: 1px solid $border-color;
    box-shadow: 0px 3px 5px darken($border-color, 25);

	}

	li {
		padding: 4px 0px;
		color: $font-color;
    transition: background-color 0.2s linear;
	}

	li:not(.active):hover {
		background-color: $accent;
	}

	li.active {
		text-decoration: underline;
		font-weight: bold;
	}
}

.mg-filter-condition-button:hover {
  background-color: $accent;
}

.mg-filter-condition-button.active {
  background-color: darken($accent, 10);
}

.mg-table .mg-data-wrapper {
  padding: 3px 5px;
  height: 23px;
}

.mg-data-align {
  position: relative;
  height: 100%;
}

.mg-data-align > div {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.mg-check-box-align-center {
  left: 50%;
  margin-left: -9px;
}

/* Edit */
.mg-table .mg-edit-wrapper {
	padding: 2px 3px;
}

.mg-edit-buttons-wrapper {
	.mg-save-button {
		float: left;
	}

	.mg-save-button:only-child {
		float: none;
	}

	.mg-cancel-button {
		float: right;
		margin-left: 5px;
	}
}

.mg-edit-buttons-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

/* Pagination */
.mg-foot .mg-pager-commands td {
  padding: 2px 5px;
}

.mg-pagination-wrapper {
	ul {
		list-style: none;
		margin: 0px;

		li {
			float: left;
			padding: 4px 6px;
			height: 16px;
      transition: background-color 0.2s linear;
		}

		li.mg-active {
			text-decoration: underline;
			font-weight: bold;
		}

		li:not(.mg-active):not(.mg-page-skip):hover {
			background-color: $accent;
			cursor: pointer;
		}
	}

	ul:after {
		clear: both;
		content: "";
		display: table;
	}
}

/* Validation errors */
.mg-validation-icon-wrapper {
  margin-left: 2px;
}

.mg-validation-errors {
  background-image: url("../../assets/icons/error.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
}

.mg-validation-messages {
  display: none;
  padding: 6px 0px;
  margin: 8px 0px;
  background-color: white;
  border: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 0px 3px 5px darken($border-color, 25);
  color: $error-color;
}

/* Details grid */
.mg-detail-grid-row {
  background-color: $accent;
}

.mg-detail-grid-row > td:first-child {
	padding: 12px 18px;
}

.mg-detail-grid-row .mg-table:not(.mg-inner-table) {
	border: 1px solid $border-color;
  border-radius: 0px;
  box-shadow: none;
}

.mg-details-button {
  width: 16px;
  height: 16px;
  padding: 3px;
  border: 0px;
  outline: none;   
  background-image: url("../../assets/icons/arrow-filter-condition.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  background-origin: content-box;
  @include rotate(-90deg);
  @include transition(300ms);
}

.mg-details-button.opened {
  @include rotate(0deg);
}

/* Command buttons */
.mg-command-button {
  border: 0px;
  outline: none;
  width: 22px;
  height: 22px;
  opacity: 0.7;
  transition: background-color 0.2s linear;
}

.mg-command-button:hover {
  background-color: #eee;
}

.mg-command-button:active {
  background-color: #ccc;
}

.mg-clear-filters {
  background-image: url("../../assets/icons/clear-filters.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.mg-show-add-row {
  background-image: url("../../assets/icons/show-add-row.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white; 
}

/* Summary */
.mg-summary-wrapper {
  padding: 5px 5px;
}

.mg-scroll-padding .mg-summary-wrapper {
  padding: 3px 5px; 
}

.mg-foot td {
  border-right: 0px;
  border-bottom: 0px;
}

/* Srolling */
.mg-table.mg-inner-table {
  border-left: none;
  border-right: none;
}

.mg-scroll-padding {
  border-right: 1px solid $border-color;
}

.mg-inner-table > .mg-body > tr:last-child > td {
  border-bottom: 1px solid $border-color;
}

/* Loading bar */
.mg-loading-wrapper {
  position: relative;
}

.mg-loading-panel {
  position: absolute;
  height: 3px;
  width: 100%;
  overflow: hidden;
}

@keyframes loading-bar-animation {
  0% { left: -30%; }
  100% { left: 100%; }
}

.mg-loading-bar {
  position: absolute;
  left: 0px;
  width: 30%;
  height: 100%;
  background-color: $error-color;
  animation: loading-bar-animation 2.5s linear 0s infinite;
}

.mg-table .mg-loading-row > td {
  padding: 0px;
  border: 0px;
}

.mg-no-data-cell {
  height: 50px;
  text-align: center;
}

/* Highlighting */
.mg-row-highlight {
  background-color: white;
  transition: background-color 0.2s linear;
}

.mg-row-highlight:hover {
  background-color: $accent;
  transition: background-color 0.2s linear;
}