.mg-table {
  border-spacing: 0px;
  font-size: 14px;
  /*Grouping*/
  /*Header*/
  /*Filter conditions*/
  /*Default header*/
  /*Edit wrapper*/
  /*Validation errors*/
  /* Pager and command buttons */ }
  .mg-table .mg-foot > tr > td,
  .mg-table .mg-head > tr > th,
  .mg-table .mg-head > tr > td,
  .mg-table .mg-body > tr > td {
    font-weight: normal; }
  .mg-table .mg-group-drop-target {
    padding: 1px 5px; }
  .mg-table .mg-group-drop-target .mg-button {
    display: inline-block; }
  .mg-table .mg-group-drop-target .mg-header-wrapper {
    display: inline-block; }
  .mg-table .mg-header-wrapper {
    position: relative; }
  .mg-table .mg-drop-column-marker, .mg-table .mg-left-drop-column-marker, .mg-table .mg-right-drop-column-marker {
    background-image: url("../../assets/icons/arrow-point-down.svg");
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -14px; }
  .mg-table .mg-left-drop-column-marker {
    left: -10px; }
  .mg-table .mg-right-drop-column-marker {
    right: -10px; }
  .mg-table .mg-dynamic-width {
    display: table;
    width: 100%; }
  .mg-table .mg-filter-wrapper .mg-input-wrapper {
    display: table-cell; }
  .mg-table .mg-filter-condition-button {
    overflow: visible;
    position: relative;
    z-index: 110;
    width: 18px;
    height: 18px;
    padding: 2px;
    display: block;
    border: 0px;
    outline: none;
    background-image: url("../../assets/icons/arrow-filter-condition.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-origin: content-box; }
    .mg-table .mg-filter-condition-button ul {
      position: absolute;
      right: 0px;
      top: 100%;
      list-style-type: none; }
  .mg-table .mg-filter-condition-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px; }
  .mg-table .mg-input-wrapper {
    width: 100%; }
  .mg-table .mg-input-wrapper .mg-input {
    box-sizing: border-box;
    height: 25px;
    width: 100%; }
  .mg-table .mg-combo-box {
    width: 100%; }
  .mg-table .mg-order-marker {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px; }
    .mg-table .mg-order-marker .mg-ascending {
      background-image: url("../../assets/icons/arrow-point-down.svg");
      background-size: cover;
      height: 100%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg); }
    .mg-table .mg-order-marker .mg-descending {
      background-image: url("../../assets/icons/arrow-point-down.svg");
      background-size: cover;
      height: 100%; }
  .mg-table .mg-edit-wrapper {
    padding: 8px 12px;
    position: relative; }
  .mg-table .mg-edit-component-host {
    display: table-cell;
    width: 100%; }
  .mg-table .mg-validation-errors-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px; }
  .mg-table .mg-validation-icon-wrapper {
    width: 14px;
    height: 14px;
    padding: 2px;
    position: relative; }
  .mg-table .mg-validation-errors {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 105; }
  .mg-table .mg-validation-errors:hover + .mg-validation-messages {
    display: block; }
  .mg-table .mg-validation-messages {
    position: absolute;
    list-style: none;
    top: 20px;
    margin: 3px 0px;
    padding: 5px;
    white-space: nowrap;
    z-index: 115; }
  .mg-table .mg-details-wrapper {
    position: relative;
    z-index: 50; }
  .mg-table .mg-details-button-wrapper {
    width: 16px;
    position: absolute;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px; }
  .mg-table .mg-details-button {
    display: block; }
  .mg-table .mg-pager-section {
    float: left; }
  .mg-table .mg-command-buttons-section {
    float: right;
    margin-right: 5px; }
  .mg-table .mg-pagination-wrapper {
    -webkit-transform: translateZ(0); }

/* Srolling */
.mg-inner-table {
  width: 100%; }

.mg-inner-table-wrapper-cell {
  padding: 0px; }

.mg-inner-table-wrapper-cell > div:not(.mg-scroll-padding) {
  position: relative;
  overflow-y: scroll; }

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px; }
