.mg-table {
  border-spacing: 0px;
  font-size: 14px;
  /*Grouping*/
  /*Header*/
  /*Filter conditions*/
  /*Default header*/
  /*Edit wrapper*/
  /*Validation errors*/
  /* Pager and command buttons */ }
  .mg-table .mg-foot > tr > td,
  .mg-table .mg-head > tr > th,
  .mg-table .mg-head > tr > td,
  .mg-table .mg-body > tr > td {
    font-weight: normal; }
  .mg-table .mg-group-drop-target {
    padding: 1px 5px; }
  .mg-table .mg-group-drop-target .mg-button {
    display: inline-block; }
  .mg-table .mg-group-drop-target .mg-header-wrapper {
    display: inline-block; }
  .mg-table .mg-header-wrapper {
    position: relative; }
  .mg-table .mg-drop-column-marker, .mg-table .mg-left-drop-column-marker, .mg-table .mg-right-drop-column-marker {
    background-image: url("../../assets/icons/arrow-point-down.svg");
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -14px; }
  .mg-table .mg-left-drop-column-marker {
    left: -10px; }
  .mg-table .mg-right-drop-column-marker {
    right: -10px; }
  .mg-table .mg-dynamic-width {
    display: table;
    width: 100%; }
  .mg-table .mg-filter-wrapper .mg-input-wrapper {
    display: table-cell; }
  .mg-table .mg-filter-condition-button {
    overflow: visible;
    position: relative;
    z-index: 110;
    width: 18px;
    height: 18px;
    padding: 2px;
    display: block;
    border: 0px;
    outline: none;
    background-image: url("../../assets/icons/arrow-filter-condition.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-origin: content-box; }
    .mg-table .mg-filter-condition-button ul {
      position: absolute;
      right: 0px;
      top: 100%;
      list-style-type: none; }
  .mg-table .mg-filter-condition-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px; }
  .mg-table .mg-input-wrapper {
    width: 100%; }
  .mg-table .mg-input-wrapper .mg-input {
    box-sizing: border-box;
    height: 25px;
    width: 100%; }
  .mg-table .mg-combo-box {
    width: 100%; }
  .mg-table .mg-order-marker {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px; }
    .mg-table .mg-order-marker .mg-ascending {
      background-image: url("../../assets/icons/arrow-point-down.svg");
      background-size: cover;
      height: 100%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg); }
    .mg-table .mg-order-marker .mg-descending {
      background-image: url("../../assets/icons/arrow-point-down.svg");
      background-size: cover;
      height: 100%; }
  .mg-table .mg-edit-wrapper {
    padding: 8px 12px;
    position: relative; }
  .mg-table .mg-edit-component-host {
    display: table-cell;
    width: 100%; }
  .mg-table .mg-validation-errors-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 14px; }
  .mg-table .mg-validation-icon-wrapper {
    width: 14px;
    height: 14px;
    padding: 2px;
    position: relative; }
  .mg-table .mg-validation-errors {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 105; }
  .mg-table .mg-validation-errors:hover + .mg-validation-messages {
    display: block; }
  .mg-table .mg-validation-messages {
    position: absolute;
    list-style: none;
    top: 20px;
    margin: 3px 0px;
    padding: 5px;
    white-space: nowrap;
    z-index: 115; }
  .mg-table .mg-details-wrapper {
    position: relative;
    z-index: 50; }
  .mg-table .mg-details-button-wrapper {
    width: 16px;
    position: absolute;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px; }
  .mg-table .mg-details-button {
    display: block; }
  .mg-table .mg-pager-section {
    float: left; }
  .mg-table .mg-command-buttons-section {
    float: right;
    margin-right: 5px; }
  .mg-table .mg-pagination-wrapper {
    -webkit-transform: translateZ(0); }

/* Srolling */
.mg-inner-table {
  width: 100%; }

.mg-inner-table-wrapper-cell {
  padding: 0px; }

.mg-inner-table-wrapper-cell > div:not(.mg-scroll-padding) {
  position: relative;
  overflow-y: scroll; }

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../../assets/fonts/roboto-regular/Roboto-Regular-webfont.woff") format("woff"), url("../../assets/fonts/roboto-regular/Roboto-Regular-webfont.eot") format("eot"), url("../../assets/fonts/roboto-regular/Roboto-Regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'roboto-medium';
  src: url("../../assets/fonts/roboto-medium/Roboto-Medium-webfont.woff") format("woff"), url("../../assets/fonts/roboto-medium/Roboto-Medium-webfont.eot") format("eot"), url("../../assets/fonts/roboto-medium/Roboto-Medium-webfont.ttf") format("truetype"); }

.mg-table {
  font-family: 'roboto-regular';
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #cccccc;
  background-color: white; }

.mg-table .mg-table {
  border-top: 0px;
  border-bottom: 0px; }

.mg-head td:not(.mg-inner-table-wrapper-cell),
.mg-head th:not(.mg-inner-table-wrapper-cell) {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.mg-body td {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.mg-body tr:last-child > td {
  border-bottom: none; }

.mg-table th:last-child,
.mg-table td:last-child {
  border-right: none; }

.mg-foot > tr > td {
  border-top: 1px solid #cccccc;
  padding: 0px; }

.mg-foot .mg-scroll-padding td {
  padding: 0px; }

/* Header */
.mg-header-wrapper {
  font-family: 'roboto-medium';
  padding: 3px 5px; }

.mg-header-row th {
  text-align: left; }

.mg-header-caption {
  margin-right: 15px; }

/* Grouping */
.mg-group-drop-target > span {
  line-height: 26px; }

.mg-group-drop-target .mg-button {
  position: relative;
  top: -1px;
  font-size: 11px; }

/* Filter */
.mg-filter-wrapper {
  padding: 2px 3px; }

.mg-input {
  border: 1px solid #cccccc;
  padding: 2px;
  outline: none;
  height: 19px;
  margin: 0px; }

.mg-input:focus {
  border: 1px solid #a6a6a6; }

.mg-combo-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  height: 23px; }

.mg-check-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px; }

.mg-check-box:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 2px;
  color: #99a1a7; }

.mg-button {
  border: 1px solid #cccccc;
  padding: 3px 8px;
  height: 23px;
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  transition: background-color 0.2s linear; }

.mg-button:hover {
  background-color: #eee; }

.mg-button:active {
  opacity: 0.95; }

/* Drop down */
.mg-table .mg-filter-condition-wrapper {
  width: 14px;
  padding: 0px; }

.mg-filter-condition-wrapper .mg-filter-condition-button {
  height: 17px;
  padding: 3px;
  margin-left: 2px;
  transition: background-color 0.4s ease; }
  .mg-filter-condition-wrapper .mg-filter-condition-button ul {
    padding: 6px 0px;
    margin: 3px 0px;
    width: 120px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 3px 5px #8c8c8c; }
  .mg-filter-condition-wrapper .mg-filter-condition-button li {
    padding: 4px 0px;
    color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s linear; }
  .mg-filter-condition-wrapper .mg-filter-condition-button li:not(.active):hover {
    background-color: #eee; }
  .mg-filter-condition-wrapper .mg-filter-condition-button li.active {
    text-decoration: underline;
    font-weight: bold; }

.mg-filter-condition-button:hover {
  background-color: #eee; }

.mg-filter-condition-button.active {
  background-color: #d5d5d5; }

.mg-table .mg-data-wrapper {
  padding: 3px 5px;
  height: 23px; }

.mg-data-align {
  position: relative;
  height: 100%; }

.mg-data-align > div {
  position: absolute;
  top: 50%;
  margin-top: -10px; }

.mg-check-box-align-center {
  left: 50%;
  margin-left: -9px; }

/* Edit */
.mg-table .mg-edit-wrapper {
  padding: 2px 3px; }

.mg-edit-buttons-wrapper .mg-save-button {
  float: left; }

.mg-edit-buttons-wrapper .mg-save-button:only-child {
  float: none; }

.mg-edit-buttons-wrapper .mg-cancel-button {
  float: right;
  margin-left: 5px; }

.mg-edit-buttons-wrapper:after {
  clear: both;
  content: "";
  display: table; }

/* Pagination */
.mg-foot .mg-pager-commands td {
  padding: 2px 5px; }

.mg-pagination-wrapper ul {
  list-style: none;
  margin: 0px; }
  .mg-pagination-wrapper ul li {
    float: left;
    padding: 4px 6px;
    height: 16px;
    transition: background-color 0.2s linear; }
  .mg-pagination-wrapper ul li.mg-active {
    text-decoration: underline;
    font-weight: bold; }
  .mg-pagination-wrapper ul li:not(.mg-active):not(.mg-page-skip):hover {
    background-color: #eee;
    cursor: pointer; }

.mg-pagination-wrapper ul:after {
  clear: both;
  content: "";
  display: table; }

/* Validation errors */
.mg-validation-icon-wrapper {
  margin-left: 2px; }

.mg-validation-errors {
  background-image: url("../../assets/icons/error.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0); }

.mg-validation-messages {
  display: none;
  padding: 6px 0px;
  margin: 8px 0px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: 0px 3px 5px #8c8c8c;
  color: #f44242; }

/* Details grid */
.mg-detail-grid-row {
  background-color: #eee; }

.mg-detail-grid-row > td:first-child {
  padding: 12px 18px; }

.mg-detail-grid-row .mg-table:not(.mg-inner-table) {
  border: 1px solid #cccccc;
  border-radius: 0px;
  box-shadow: none; }

.mg-details-button {
  width: 16px;
  height: 16px;
  padding: 3px;
  border: 0px;
  outline: none;
  background-image: url("../../assets/icons/arrow-filter-condition.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  background-origin: content-box;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all; }

.mg-details-button.opened {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg); }

/* Command buttons */
.mg-command-button {
  border: 0px;
  outline: none;
  width: 22px;
  height: 22px;
  opacity: 0.7;
  transition: background-color 0.2s linear; }

.mg-command-button:hover {
  background-color: #eee; }

.mg-command-button:active {
  background-color: #ccc; }

.mg-clear-filters {
  background-image: url("../../assets/icons/clear-filters.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white; }

.mg-show-add-row {
  background-image: url("../../assets/icons/show-add-row.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white; }

/* Summary */
.mg-summary-wrapper {
  padding: 5px 5px; }

.mg-scroll-padding .mg-summary-wrapper {
  padding: 3px 5px; }

.mg-foot td {
  border-right: 0px;
  border-bottom: 0px; }

/* Srolling */
.mg-table.mg-inner-table {
  border-left: none;
  border-right: none; }

.mg-scroll-padding {
  border-right: 1px solid #cccccc; }

.mg-inner-table > .mg-body > tr:last-child > td {
  border-bottom: 1px solid #cccccc; }

/* Loading bar */
.mg-loading-wrapper {
  position: relative; }

.mg-loading-panel {
  position: absolute;
  height: 3px;
  width: 100%;
  overflow: hidden; }

@keyframes loading-bar-animation {
  0% {
    left: -30%; }
  100% {
    left: 100%; } }

.mg-loading-bar {
  position: absolute;
  left: 0px;
  width: 30%;
  height: 100%;
  background-color: #f44242;
  animation: loading-bar-animation 2.5s linear 0s infinite; }

.mg-table .mg-loading-row > td {
  padding: 0px;
  border: 0px; }

.mg-no-data-cell {
  height: 50px;
  text-align: center; }

/* Highlighting */
.mg-row-highlight {
  background-color: white;
  transition: background-color 0.2s linear; }

.mg-row-highlight:hover {
  background-color: #eee;
  transition: background-color 0.2s linear; }
