<div [hidden]="!data.enableEditing">
	<div *ngIf="data.editTemplate == null">
		<div class="mg-input-wrapper" [formGroup]="editForm">
		  <input
		  	class="mg-input"
		  	[attr.type]="data.type"
		  	[attr.step]="data.step"
		  	formControlName="{{ data.propertyName }}"
		  	[value]="getValue()" />
		</div>
	</div>
	<div #customTemplatePlaceholder></div>
</div>