<div *ngIf="filterData.enableFiltering">
  <div class="mg-dynamic-width">
    <div class="mg-input-wrapper" *ngIf="filterData.filterTemplate == null">
      <input 
        class="mg-input" 
        [attr.type]="filterData.type"
        [attr.step]="filterData.step"
        (focusout)="filterFocusedOut($event)" 
        [(ngModel)]="filterDate"
        (blur)="filterBlur()" />
    </div>
    <div #customTemplatePlaceholder></div>
    <div class="mg-filter-condition-wrapper" *ngIf="filterData.enableSearchTermTypeMenu">
      <button 
        class="mg-filter-condition-button"
        [class.active]="menuVisible" 
        (click)="toggleMenu()"
        (focusout)="buttonFocusedOut()">
        <ul 
          [hidden]="!menuVisible"
          [@filterConditionMenuState]="getConditionMenuState()">
          <li [class.active]="selectedSearchType == dateTimeSearchTermType.LessThan" (click)="selectSearchType(dateTimeSearchTermType.LessThan)">less than</li>
          <li [class.active]="selectedSearchType == dateTimeSearchTermType.LessThanOrEqual" (click)="selectSearchType(dateTimeSearchTermType.LessThanOrEqual)">less than or equal</li>
          <li [class.active]="selectedSearchType == dateTimeSearchTermType.Equals" (click)="selectSearchType(dateTimeSearchTermType.Equals)">equals</li>
          <li [class.active]="selectedSearchType == dateTimeSearchTermType.MoreThanOrEqual" (click)="selectSearchType(dateTimeSearchTermType.MoreThanOrEqual)">more than or equal</li>
          <li [class.active]="selectedSearchType == dateTimeSearchTermType.MoreThan" (click)="selectSearchType(dateTimeSearchTermType.MoreThan)">more than</li>
        </ul>
      </button>
    </div>
  </div>
</div>