<div class="mg-data-align">
  <div>
    <span *ngIf="data.dataTemplate == null">
      {{ item[data.propertyName] | date:data.format }}
    </span>
    <span #customTemplatePlaceholder></span>
  </div>
</div>