<div class="mg-data-align">
  <div class="mg-check-box-align-center">
    <span *ngIf="data.dataTemplate == null">
      <input class="mg-input mg-check-box" type="checkbox" [checked]="item[this.data.propertyName]" disabled>
    </span>
    <span #customTemplatePlaceholder></span>
  </div>
</div>