<div *ngIf="filterData.enableFiltering">
  <div *ngIf="filterData.filterTemplate == null">
    <input class="mg-input mg-check-box" type="checkbox" [(ngModel)]="checkBoxValue" (change)="filterChanged()" />
  </div>
  <div #customTemplatePlaceholder></div>
</div>