<div class="mg-data-align">
  <div class="mg-check-box-align-center">
    <div [hidden]="!data.enableEditing">
    	<div *ngIf="data.editTemplate == null">
    		<div [formGroup]="editForm">
    		  <input class="mg-input mg-check-box" type="checkbox" formControlName="{{ data.propertyName }}" />
    		</div>
    	</div>
    	<div #customTemplatePlaceholder></div>
    </div>
  </div>
</div>