<h1>
  Test
</h1>
<br />

<mg-grid 
  #fooGrid
  [key]="'Id'"
  [enableGrouping]="true"
  [enableServerSideMode]="enableServerSideMode"
  [saveChangesCallback]="testSave"
  [initCellCallback]="initCell"
  [getErrorMessages]="getErrorMessages"
  [pageSize]="pageSize"
  [onGridStateChange]="onGridStateChange"
  [items]="data"
  [initFormCallback]="initFormCallback"
  [getDetailItems]="getDetails"
  [showLoadingBar]="'true'"
  [showAddRowToggle]="'true'"
  [enableHighlighting]="'true'"
  (beforeFiltering)="beforeFiltering($event)"
  >
  
  <mg-index-column [width]="'35px'"></mg-index-column>
  
  <mg-details-button-column
    [width]="'35px'">
  </mg-details-button-column>

  <mg-selection-column [width]="'70px'">
  </mg-selection-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'"
    [width]="'200px'">
  </mg-spin-column>

  <mg-text-column
    [caption]="'Faq'" 
    [propertyName]="'age'"
    [searchTermType]="testSearchTerm.Contains">
  </mg-text-column>

  <mg-mark-column
    [caption]="'Faq'" 
    [propertyName]="'age'">
  </mg-mark-column>

  <mg-date-time-column
    [caption]="'Aaa'" 
    [propertyName]="'DateTest'">
  </mg-date-time-column>



  <mg-spin-column 
    [caption]="'ComboProp'"
    [step]="5"
    [min]="0"
    [max]="25"
    [propertyName]="'ComboProp'">
  </mg-spin-column>



  <mg-combo-box-column 
    [caption]="'Type'" 
    [propertyName]="'Id'"
    [comboBoxItems]="comboBoxItems"
    [displayProperty]="'Name'"
    [valueProperty]="'Id'">
  </mg-combo-box-column>
 
<!--   <mg-summary-item 
    [propertyName]="'DateTest'" 
    [summaryType]="'max'">
  </mg-summary-item>

  <mg-summary-item 
    [propertyName]="'DateTest'" 
    [summaryType]="'min'">
  </mg-summary-item>
 -->

 
<!--   <mg-summary-item 
    [propertyName]="'age'"
    [summaryType]="'sum'"
    [isPerPageSummary]="summaryType">
  </mg-summary-item>

 -->
  <mg-edit-column
    [caption]="'Edit'"
    [width]="'140px'">
  </mg-edit-column>
<!-- 
  <mg-delete-column
    [caption]="'Delete'">
  </mg-delete-column>
 -->


  <!-- detail grid -->
  <mg-detail-grid> 
    <ng-template let-context>
      <mg-grid
        [key]="'id'">
        <mg-text-column
          [caption]="'asdf 1'"
          [propertyName]="'firstName'"
          [width]="'120px'">
        </mg-text-column>
        <mg-text-column 
          [caption]="'asdf 2'" 
          [propertyName]="'lastName'"
          [width]="'120px'">
        </mg-text-column>
        <mg-edit-column
          [caption]="''"
          [width]="'140px'">
        </mg-edit-column>

        <mg-summary-item 
          [propertyName]="'firstName'"
          [summaryType]="'count'">
        </mg-summary-item>
      </mg-grid>
    </ng-template>
  </mg-detail-grid>
  <!-- detail grid -->

</mg-grid>

<ng-template #customTemplate let-context>
  <span>Custom caption *{{ context.caption }}*</span>
</ng-template>

<ng-template #customEditTemplate let-context>
  <span>Custom edit template</span>
  <span [formGroup]="context.editForm">
    <input type="text" formControlName="{{ context.data.propertyName }}" />
  </span>
</ng-template>

<ng-template #paginationTemplate let-context>
  <span>|||</span>
  <span>{{ context | json }}</span>
  <button (click)="testChangePage(context)">Change</button>
  <span>|||</span>
</ng-template>

<ng-template let-context #groupHeaderTemplate>
  Group header: {{ context.item[context.propertyName] }}
</ng-template>


<ng-template let-context #errorsTemplate>
  <ng-container *ngIf="context.editForm.get([context.data.propertyName]).invalid">
    <button (click)="test(context)">#</button>
  </ng-container>
</ng-template>