<div class="mg-summary-wrapper">
  <ng-container *ngIf="customTemplate == null">
    <span *ngIf="isSummaryValueDate()">
      {{ summaryType }}: {{ summaryValue | date:'dd/MM/yyyy' }}
    </span>
    <span *ngIf="!isSummaryValueDate()">
      {{ summaryType }}: {{ summaryValue }}
    </span>
  </ng-container>
  <ng-template #customTemplatePlaceholder>
  </ng-template>
</div>