<div class="mg-pagination-wrapper">
  <ng-container *ngIf="paginationTemplate == null">
    <ul *ngIf="itemsCount > 0">
      <li (click)="changePage(1)" *ngIf="paginationState.currentPage > 2">
        <span>1</span>
      </li>
      <li class="mg-page-skip" *ngIf="paginationState.currentPage - 1 > 2">
        ...
      </li>
      <li (click)="changePage(paginationState.currentPage - 1)" *ngIf="paginationState.currentPage > 1">
        <span>{{ paginationState.currentPage - 1 }}</span>
      </li>
      <li class="mg-active">
        <span>{{ paginationState.currentPage }}</span>
      </li>
      <li (click)="changePage(paginationState.currentPage + 1)" *ngIf="(paginationState.currentPage + 1) <= (ceil(itemsCount / paginationState.pageSize))">
        <span>{{ paginationState.currentPage + 1 }}</span>
      </li>
      <li class="mg-page-skip" *ngIf="(paginationState.currentPage + 2) < (ceil(itemsCount / paginationState.pageSize))">
        ...
      </li>
      <li (click)="changePage(ceil(itemsCount / paginationState.pageSize))" *ngIf="(paginationState.currentPage + 1) < (ceil(itemsCount / paginationState.pageSize))">
        <span>{{ ceil(itemsCount / paginationState.pageSize) }}</span>
      </li>
    </ul>
  </ng-container>
  <ng-template #customTemplatePlaceholder>
  </ng-template>
</div>