<div class="mg-data-align">
  <div class="mg-check-box-align-center">
    <div *ngIf="data.dataTemplate == null">
      <input 
      	class="mg-input mg-check-box" 
      	type="checkbox"
      	[(ngModel)]="selectionValue"
      	(change)="selectionChange()">
    </div>
    <div #customTemplatePlaceholder></div>
  </div>
</div>