<div [hidden]="!data.enableEditing">
	<div *ngIf="data.editTemplate == null">
		<div class="mg-input-wrapper" [formGroup]="editForm">
	  	<input class="mg-input" type="text" formControlName="{{ data.propertyName }}" />
	  </div>
	</div>
	<div #customTemplatePlaceholder></div>
</div>