<div *ngIf="filterData.enableFiltering">
  <div class="mg-dynamic-width">
    <div class="mg-input-wrapper" *ngIf="filterData.filterTemplate == null">
      <input class="mg-input" type="text"
        (focusin)="filterFocusIn()" 
        (focusout)="filterFocusedOut($event)" 
        [(ngModel)]="filterText" />
    </div>
    <div #customTemplatePlaceholder></div>
    <div class="mg-filter-condition-wrapper" *ngIf="filterData.enableSearchTermTypeMenu">
        <button 
          class="mg-filter-condition-button" 
          [class.active]="menuVisible" 
          (click)="toggleMenu()" 
          (focusout)="buttonFocusedOut()">
          <ul
            class="opened"
            [hidden]="!menuVisible" 
            [@filterConditionMenuState]="getConditionMenuState()">
            <li [class.active]="selectedSearchType == textSearchTermType.StartsWith" (click)="selectSearchType(textSearchTermType.StartsWith)">starts with</li>
            <li [class.active]="selectedSearchType == textSearchTermType.Contains" (click)="selectSearchType(textSearchTermType.Contains)">contains</li>
            <li [class.active]="selectedSearchType == textSearchTermType.Equals" (click)="selectSearchType(textSearchTermType.Equals)">equals</li>
            <li [class.active]="selectedSearchType == textSearchTermType.EndsWith" (click)="selectSearchType(textSearchTermType.EndsWith)">ends with</li>
          </ul>
        </button>
      </div>
    </div>
</div>