<div class="mg-data-align mg-text-column-data">
  <div>
    <span *ngIf="data.dataTemplate == null" class="mg-data">
      {{ item[data.propertyName] }}
    </span>
    <span #customTemplatePlaceholder></span>
  </div>
</div>