<div (click)="headerClicked()" class="mg-default-column-header">
  <div *ngIf="headerData.headerTemplate == null">
    <span class="mg-header-caption">{{ headerData.caption }}</span>
    <span *ngIf="isOrderMarkerVisible()" class="mg-order-marker">
      <div *ngIf="isAscending()" class="mg-ascending"></div>
      <div *ngIf="!isAscending()" class="mg-descending"></div>
    </span>
  </div>
  <div #customTemplatePlaceholder></div>
</div>