  <div class="mg-group-drop-target" 
    (drop)="columnDrop($event)"
    #dropTarget>
    <span *ngIf="currentGroupState == null">{{ dropColumnText }}</span>
    <ng-container *ngIf="currentGroupState != null">
      <mg-header-wrapper
        [columnId]="currentGroupState.columnId"
        [headerType]="getType()"
        [headerData]="getData()">
      </mg-header-wrapper>
    </ng-container>
    <button class="mg-button" *ngIf="currentGroupState != null" (click)="removeGrouping()">
      {{ removeGroupingButtonText }}
    </button>
  </div>