<div class="mg-data-align">
  <div class="mg-details-button-wrapper" *ngIf="data.dataTemplate == null">
    <button (click)="toggleDetails()" class="mg-details-button" [class.opened]="areDetailsOpened()"></button>
  </div>
  <div #customTemplatePlaceholder></div>
</div>