<div class="mg-edit-buttons-wrapper">
  <div>
    <button class="mg-button mg-save-button" type="button" (click)="saveChanges()">
      {{ data.saveButtonText }}
    </button>
    <button class="mg-button mg-cancel-button" *ngIf="item != null" type="button" (click)="cancelEdit()">
    	{{ data.cancelButtonText }}
    </button>
  </div>
  <div #customTemplatePlaceholder></div>
</div>