<div *ngIf="filterData.enableFiltering">
  <div *ngIf="filterData.filterTemplate == null">
    <select class="mg-input mg-combo-box" [(ngModel)]="comboBoxValue" (change)="filterChanged()">
      <option value=""></option>
      <option *ngFor="let item of filterData.comboBoxItems" [value]="item[filterData.valueProperty]">
        {{ item[filterData.displayProperty] }}
      </option>
    </select>
  </div>
  <div #customTemplatePlaceholder></div>
</div>