<div [hidden]="!data.enableEditing">
	<div [formGroup]="editForm">
		<div *ngIf="data.editTemplate == null">
		  <select class="mg-input mg-combo-box" formControlName="{{ data.propertyName }}">
		  	<option value=""></option>
		  	<option *ngFor="let item of data.comboBoxItems" [value]="item[data.valueProperty]">
		  		{{ item[data.displayProperty] }}
		  	</option>
		  </select>
	  </div>
  	<div #customTemplatePlaceholder></div>
	</div>
</div>