<div [hidden]="!data.enableEditing">
	<div *ngIf="data.editTemplate == null">
		<div class="mg-input-wrapper" [formGroup]="editForm">
		  <input 
        class="mg-input" 
        type="number" 
        formControlName="{{ data.propertyName }}"
        [step]="data.step"
        [min]="data.min"
        [max]="data.max" />
		</div>
	</div>
	<div #customTemplatePlaceholder></div>
</div>