<div *ngIf="filterData.enableFiltering">
  <div class="mg-dynamic-width">
    <div class="mg-input-wrapper" *ngIf="filterData.filterTemplate == null">
      <input class="mg-input" type="number"
        [step]="filterData.step"
        [min]="filterData.min"
        [max]="filterData.max"
        (focusin)="filterFocusedIn()"
        (focusout)="filterFocusedOut($event)" 
        [(ngModel)]="filterNumber" />
    </div>
    <div #customTemplatePlaceholder></div>
    <div class="mg-filter-condition-wrapper" *ngIf="filterData.enableSearchTermTypeMenu">
      <button 
        class="mg-filter-condition-button"
        [class.active]="menuVisible" 
        (click)="toggleMenu()"
        (focusout)="buttonFocusedOut()">
        <ul 
          [hidden]="!menuVisible"
          [@filterConditionMenuState]="getConditionMenuState()">
          <li [class.active]="selectedSearchType == spinSearchTermType.LessThan" (click)="selectSearchType(spinSearchTermType.LessThan)">less than</li>
          <li [class.active]="selectedSearchType == spinSearchTermType.LessThanOrEqual" (click)="selectSearchType(spinSearchTermType.LessThanOrEqual)">less than or equal</li>
          <li [class.active]="selectedSearchType == spinSearchTermType.Equals" (click)="selectSearchType(spinSearchTermType.Equals)">equals</li>
          <li [class.active]="selectedSearchType == spinSearchTermType.MoreThanOrEqual" (click)="selectSearchType(spinSearchTermType.MoreThanOrEqual)">more than or equal</li>
          <li [class.active]="selectedSearchType == spinSearchTermType.MoreThan" (click)="selectSearchType(spinSearchTermType.MoreThan)">more than</li>
        </ul>
      </button>
    </div>  
  </div>
</div>