<div class="mg-data-align">
  <div>
    <span *ngIf="data.dataTemplate == null" class="mg-data">
      {{ item[data.propertyName] }}
    </span>
    <span #customTemplatePlaceholder></span>
  </div>
</div>
