<table [style.width]="width" class="mg-table">
  <thead class="mg-head">
    <tr *ngIf="enableGrouping">
      <th [attr.colspan]="getRenderableColumnCount()">
        <mg-group-drop-target 
          [dropColumnText]="dropColumnText"
          [removeGroupingButtonText]="removeGroupingButtonText">
        </mg-group-drop-target>
      </th>
    </tr>

    <ng-container *ngIf="scrollHeight == null">
      <tr class="mg-header-row">
        <th *ngFor="let column of getRenderableColumns()"
            mg-html-table-element
            [style.width]="column.width"
            [elementContext]="{ headerData: column.getHeaderData() }"
            [elementType]="htmlElementType.HeaderCell">
          <mg-header-wrapper
            [columnId]="column.columnId"
            [headerType]="column.headerComponentType"
            [headerData]="column.getHeaderData()">
          </mg-header-wrapper>
        </th>
      </tr>
      <ng-container *ngIf="showAddRow">
        <tr my-grid-edit-row
          [columns]="getRenderableColumns()">
        </tr>
      </ng-container>  
      <tr *ngIf="showFilterRow" class="mg-filter-row">
        <th *ngFor="let column of getRenderableColumns()"
            mg-html-table-element
            [elementContext]="{ filterData: column.getFilterData() }"
            [elementType]="htmlElementType.FilterCell"
            [style.width]="column.width">
          <mg-filter-wrapper
            [columnId]="column.columnId"
            [filterType]="column.filterComponentType"
            [filterData]="column.getFilterData()">
          </mg-filter-wrapper>
        </th>
      </tr>
    </ng-container>

    <ng-container *ngIf="scrollHeight != null">
      <tr>
        <td 
          [attr.colspan]="getRenderableColumnCount()"
          class="mg-inner-table-wrapper-cell">
          <div class="mg-scroll-padding" [style.margin-right]="scrollWidth">
            <table class="mg-table mg-inner-table">
              <thead class="mg-head">
                <tr class="mg-header-row">
                  <th *ngFor="let column of getRenderableColumns()"
                      mg-html-table-element
                      [style.width]="column.width"
                      [elementContext]="{ headerData: column.getHeaderData() }"
                      [elementType]="htmlElementType.HeaderCell">
                    <mg-header-wrapper
                      [columnId]="column.columnId"
                      [headerType]="column.headerComponentType"
                      [headerData]="column.getHeaderData()">
                    </mg-header-wrapper>
                  </th>
                </tr>
                <ng-container *ngIf="showAddRow">
                  <tr my-grid-edit-row
                    [columns]="getRenderableColumns()">
                  </tr>
                </ng-container>  
                <tr *ngIf="showFilterRow" class="mg-filter-row">
                  <th *ngFor="let column of getRenderableColumns()"
                      mg-html-table-element
                      [style.width]="column.width"
                      [elementContext]="{ filterData: column.getFilterData() }"
                      [elementType]="htmlElementType.FilterCell">
                    <mg-filter-wrapper
                      [columnId]="column.columnId"
                      [filterType]="column.filterComponentType"
                      [filterData]="column.getFilterData()">
                    </mg-filter-wrapper>
                  </th>
                </tr>  
              </thead>          
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
  </thead>

  <tbody class="mg-body" [class.mg-loading]="isLoading">
    <tr *ngIf="isLoading && showLoadingBar" class="mg-loading-row">
      <td [attr.colspan]="getRenderableColumnCount()">
        <div class="mg-loading-wrapper">
          <div class="mg-loading-panel">
            <div class="mg-loading-bar"></div>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="scrollHeight != null">
      <tr>
        <td
          class="mg-inner-table-wrapper-cell"
          [attr.colspan]="getRenderableColumnCount()">
          <div [style.height]="scrollHeight">
          <table class="mg-table mg-inner-table">
            <tbody class="mg-body">
              
              <tr *ngIf="gridItems.length == 0">
                <td [attr.colspan]="getRenderableColumnCount()" class="mg-no-data-cell">
                  {{ noDataText }}
                </td>
              </tr>

              <ng-container *ngFor="let item of gridItems; let i = index;">
                <ng-container *ngIf="shouldRenderGroupedLayout()">
                  <tr>
                    <td [attr.colspan]="getRenderableColumnCount()" (click)="toggleGroup(item)" *ngIf="item.groupItems != null">
                      <mg-data-wrapper
                        [dataType]="getGroupedColumnDataComponentType()"
                        [data]="getGroupedColumnData()"
                        [item]="item.groupItems[0]"
                        [visibleIndex]="i + 1">
                      </mg-data-wrapper>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!shouldRenderGroupedLayout() || item.isOpened">
                  <ng-container *ngFor="let itemRow of getItemRows(item); let rowIndex = index;">
                    <tr *ngIf="!isRowEdited(item)" [class.mg-row-highlight]="enableHighlighting">
                      <ng-container *ngFor="let column of getRenderableColumns()">
                        <td mg-html-table-element
                          [style.width]="column.width"
                          [elementContext]="{ item: itemRow, data: column.getData() }"
                          [elementType]="htmlElementType.DataCell">
                          <mg-data-wrapper
                            [dataType]="column.dataComponentType"
                            [data]="column.getData()"
                            [item]="itemRow"
                            [visibleIndex]="getVisibleIndex(i, rowIndex)">
                          </mg-data-wrapper>
                        </td>
                      </ng-container>
                    </tr>
                    <ng-container *ngIf="isRowEdited(itemRow)">
                      <tr my-grid-edit-row 
                        [class.mg-row-highlight]="enableHighlighting"
                        [columns]="getRenderableColumns()"
                        [item]="itemRow">
                      </tr>
                    </ng-container>
                    <tr *ngIf="shouldRenderDetailGrid(itemRow)" class="mg-detail-grid-row">
                      <td [attr.colspan]="getRenderableColumnCount()">
                        <mg-detail-grid-wrapper 
                          [detailGridTemplate]="detailGrid.detailGridTemplate"
                          [masterItem]="itemRow"
                          [getDetailItems]="getDetailItems">
                        </mg-detail-grid-wrapper>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
          </div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="scrollHeight == null">
      <tr *ngIf="gridItems.length == 0">
        <td [attr.colspan]="getRenderableColumnCount()" class="mg-no-data-cell">
          {{ noDataText }}
        </td>
      </tr>

      <ng-container *ngFor="let item of gridItems; let i = index;">
        <ng-container *ngIf="shouldRenderGroupedLayout()">
          <tr>
            <td [attr.colspan]="getRenderableColumnCount()" (click)="toggleGroup(item)" *ngIf="item.groupItems != null">
              <mg-data-wrapper
                [dataType]="getGroupedColumnDataComponentType()"
                [data]="getGroupedColumnData()"
                [item]="item.groupItems[0]"
                [visibleIndex]="i + 1">
              </mg-data-wrapper>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!shouldRenderGroupedLayout() || item.isOpened">

          <ng-container *ngFor="let itemRow of getItemRows(item); let rowIndex = index;">

            <tr *ngIf="!isRowEdited(item)" [class.mg-row-highlight]="enableHighlighting">
              <ng-container *ngFor="let column of getRenderableColumns()">
                <td mg-html-table-element
                  [style.width]="column.width"
                  [elementContext]="{ item: itemRow, data: column.getData() }"
                  [elementType]="htmlElementType.DataCell">
                  <mg-data-wrapper
                    [dataType]="column.dataComponentType"
                    [data]="column.getData()"
                    [item]="itemRow"
                    [visibleIndex]="getVisibleIndex(i, rowIndex)">
                  </mg-data-wrapper>
                </td>
              </ng-container>
            </tr>
            <ng-container *ngIf="isRowEdited(itemRow)">
              <tr my-grid-edit-row 
                [class.mg-row-highlight]="enableHighlighting"
                [columns]="getRenderableColumns()"
                [item]="itemRow">
              </tr>
            </ng-container>
            <tr *ngIf="shouldRenderDetailGrid(itemRow)"  class="mg-detail-grid-row">
              <td [attr.colspan]="getRenderableColumnCount()">
                <mg-detail-grid-wrapper 
                  [detailGridTemplate]="detailGrid.detailGridTemplate"
                  [masterItem]="itemRow"
                  [getDetailItems]="getDetailItems">
                </mg-detail-grid-wrapper>
              </td>
            </tr>

          </ng-container>

        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>

  <tfoot class="mg-foot">
    <ng-container *ngIf="scrollHeight == null">
      <tr *ngIf="summaryItems.length > 0">
        <td *ngFor="let column of getRenderableColumns()"
          mg-html-table-element
          [elementContext]="{ column: column }"
          [elementType]="htmlElementType.SummaryCell"
          [style.width]="column.width">
          <span *ngFor="let summary of getSummaryItems(column.getData().propertyName)">
            <mg-summary
              [items]="getItemsToSummarize(summary.summaryItem.isPerPageSummary)"
              [customTemplate]="summary.summaryItem.customTemplate"
              [summaryType]="summary.summaryItem.summaryType"
              [propertyName]="summary.summaryItem.propertyName" 
              [customCalculateSummary]="summary.summaryItem.customCalculateSummary"
              [serverSideSummary]="summary.serverSideSummary">
            </mg-summary>
          </span>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="scrollHeight != null && summaryItems.length > 0">
      <tr>
        <td>
          <div class="mg-scroll-padding" [style.margin-right]="scrollWidth">
            <table>
              <tr>
                <td *ngFor="let column of getRenderableColumns()"
                  mg-html-table-element
                  [elementContext]="{ column: column }"
                  [elementType]="htmlElementType.SummaryCell"
                  [style.width]="column.width">
                  <span *ngFor="let summary of getSummaryItems(column.getData().propertyName)">
                    <mg-summary
                      [items]="getItemsToSummarize(summary.summaryItem.isPerPageSummary)"
                      [customTemplate]="summary.summaryItem.customTemplate"
                      [summaryType]="summary.summaryItem.summaryType"
                      [propertyName]="summary.summaryItem.propertyName" 
                      [customCalculateSummary]="summary.summaryItem.customCalculateSummary"
                      [serverSideSummary]="summary.serverSideSummary">
                    </mg-summary>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>

    <tr *ngIf="pageSize != null || showAddRowToggle || showClearFilterButton" class="mg-pager-commands">
      <td [attr.colspan]="getRenderableColumnCount()">
        <ng-container *ngIf="pageSize != null">
          <div class="mg-pager-section">
            <mg-pager [paginationTemplate]="paginationTemplate"></mg-pager>
          </div>
        </ng-container>
        <ng-container>
          <div class="mg-command-buttons-section">
            <button *ngIf="showAddRowToggle" class="mg-command-button mg-show-add-row" (click)="toggleAddRow()"></button>
            <button *ngIf="showClearFilterButton" class="mg-command-button mg-clear-filters" (click)="clearFilters()"></button>
          </div>
        </ng-container>
      </td>
    </tr>
  </tfoot>
</table>
